<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>pulp/home</title>
  <meta property="og:title" content="pulp/home" />
  <meta property="og:description" content="create and share code seamlessly" />
  <meta property="og:url" content="https://pulp.deta.dev/" />
  <meta property="og:image" content="https://pulp.deta.dev/header.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">pulp</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <label for="file-upload" class="btn btn-secondary">select file</label>
          <input id="file-upload" type="file" />
        </li>
      </ul>
    </div>
  </nav>
  <div class="mx-4 my-2">
    <div class="row">
      <div class="col">
        <div id="editor"><%= content %></div>
      </div>
      <div class="col col-2">
        <div class="navbar">
          <h3>options</h3>
          <select id="mode" class="form-select form-select-sm mt-2">
            <option ext="txt" disabled selected hidden>select language</option>
            <option ext="txt">plaintext</option>
            <option ext="as">actionscript</option>
            <option ext="conf">apache_conf</option>
            <option ext="xml">xml</option>
            <option ext="cpp">c_cpp</option>
            <option ext="clj">clojure</option>
            <option ext="coffee">coffee</option>
            <option ext="cr">crystal</option>
            <option ext="cs">csharp</option>
            <option ext="css">css</option>
            <option ext="d">d</option>
            <option ext="md">markdown</option>
            <option ext="dart">dart</option>
            <option ext="diff">diff</option>
            <option ext="django">django</option>
            <option ext="dockerfile">dockerfile</option>
            <option ext="ex">elixir</option>
            <option ext="elm">elm</option>
            <option ext="rb">ruby</option>
            <option ext="erl">erlang</option>
            <option ext="f90">fortran</option>
            <option ext="fs">fsharp</option>
            <option ext="gcode">gcode</option>
            <option ext="feature">gherkin</option>
            <option ext="glsl">glsl</option>
            <option ext="go">golang</option>
            <option ext="graphql">graphqlschema</option>
            <option ext="groovy">groovy</option>
            <option ext="haml">haml</option>
            <option ext="handlebars">handlebars</option>
            <option ext="hs">haskell</option>
            <option ext="hx">haxe</option>
            <option ext="html">html</option>
            <option ext="ini">ini</option>
            <option ext="java">java</option>
            <option ext="js">javascript</option>
            <option ext="json">json</option>
            <option ext="lua">lua</option>
            <option ext="makefile">makefile</option>
            <option ext="matlab">matlab</option>
            <option ext="mel">mel</option>
            <option ext="pl">perl</option>
            <option ext="nginx">nginx</option>
            <option ext="nim">nim</option>
            <option ext="nix">nix</option>
            <option ext="nsis">nsis</option>
            <option ext="m">objectivec</option>
            <option ext="ml">ocaml</option>
            <option ext="php">php</option>
            <option ext="ps1">powershell</option>
            <option ext="pro">prolog</option>
            <option ext="properties">properties</option>
            <option ext="proto">protobuf</option>
            <option ext="pp">puppet</option>
            <option ext="py">python</option>
            <option ext="qml">qml</option>
            <option ext="r">r</option>
            <option ext="rb">ruby</option>
            <option ext="rs">rust</option>
            <option ext="scala">scala</option>
            <option ext="scm">scheme</option>
            <option ext="scss">scss</option>
            <option ext="sql">sql</option>
            <option ext="styl">stylus</option>
            <option ext="swift">swift</option>
            <option ext="yaml">yaml</option>
            <option ext="tcl">tcl</option>
            <option ext="twig">twig</option>
            <option ext="ts">typescript</option>
            <option ext="vala">vala</option>
            <option ext="vbs">vbscript</option>
            <option ext="vhd">vhdl</option>
          </select>
          <textarea id="description" type="text" class="form-control form-select-sm mt-2"
            placeholder="enter description"></textarea>
          <button id="create" class="btn btn-success mt-2 btn-sm w-100" disabled>create pulp</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://www.unpkg.com/ace-builds@latest/src-noconflict/ace.js"></script>
  <script src="https://www.unpkg.com/ace-builds@latest/src-noconflict/ext-language_tools.js"></script>
  <script src="index.js" defer></script>
</body>

</html>