<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>pulp - share code</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-light.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <style>
    body {
      font-family: 'Mukta';
    }

    ::-webkit-scrollbar {
      width: 0;
    }

    pre {
      font-size: 17px;
      font-weight: bold;
    }

    pre code.hljs {
      padding: .5em;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pulp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mx-4 my-2">
    <pre><code id="code" class="<%= data.language %>"><%= data.content %></code></pre>
    <button id="copy" class="btn btn-secondary btn-sm">Copy</button>
    <button id="raw" class="btn btn-secondary btn-sm">Raw</button>
    <button id="delete" class="btn btn-secondary btn-sm">Delete</button>
    <button id="print" class="btn btn-secondary btn-sm">Print</button>
    <!-- toast starts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toast" class="toast text-bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div id="toastBody" class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
    <!-- toast ends -->
  </div>
  <script>
    hljs.highlightAll();

    const copyBtn = document.getElementById("copy");
    const printBtn = document.getElementById("print");
    const { content } = JSON.parse(`<%- JSON.stringify(data) %>`);

    copyBtn.addEventListener("click", async (e) => {
      try {
        await navigator.clipboard.writeText(content);
        showNotification("Text copied to clipboard");
      } catch (error) {
        showNotification("Something wrong happened while copying");
      }
    })

    printBtn.addEventListener("click", (e) => {
      printJS('code', 'html');
    })

    const showNotification = (msg) => {
      const toast = document.getElementById("toast");
      const toastBody = document.getElementById("toastBody");
      const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
      toastBody.innerText = msg;
      toastBootstrap.show();
    }

  </script>
</body>

</html>