@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap");

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Bricolage Grotesque';
}

input[type="file"] {
  display: none;
}

.btn-light {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  border-color: #c4c8cb;
  margin-left: 5px;
}

pre {
  font-weight: bold;
}

.details {
  padding: 6px;
  font-size: 14px;
}

.code {
  border: 2px solid #c4c8cb;
  border-radius: 8px;
}

.hljs-ln-numbers {
  color: rgb(95, 95, 95);
  border-right: 2px solid #c4c8cb;
  padding-right: 6px !important;
}

.hljs-ln-code {
  padding-left: 6px !important;
}

.hljs-copy-button {
  background-color: #6c757d !important;
}

#editor {
  position: relative;
  height: 80vh;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}